--- 
layout: default 
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <div class="cat">
      {% if post.category %} | 
        <h3>
          Category: <a href="{{ site.baseurl }}{{ site.cat-page }}#{{ post.category | slugify }}" class="post-cat">{{ tag }}</a>
        </h3>
      {% endif %}
    </div>
  <div class="tags">
  {% if page.tags %} Tags: 
    {% for tag in page.tags %}
      <a href="{{ site.baseurl }}{{ site.tag-page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
    {% endfor %}
  {% endif %}
</div>  
  {% include disqus.html %}
</article>